*{
    outline:0 !important;
}

@media all and (max-width: 500px) { 


    #head{

        background-size: 200% 100% !important;
        background-position: center;
    }

    #head #main{

        flex-direction: column !important;
        align-items: center !important;
    }
    #head #main #text{

        width: 100% !important;
        padding: 10px;
    }
    #head #main #painl{

        width: 100% !important;
        padding: 10px;
    }
    #head #main #logup{
        width: 100% !important;
        margin-top: 25% !important;
    }


    #portes{

        flex-direction: column !important;
        
    }

    #portes .box{

        width: 100% !important;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #get{
        width: 90% !important;
    }
    #get #download{
        width: 100% !important;
    }




    #join #text{
            
        width: 100% !important;
    }




}


#head{

    width: 100%;
    height: 100vh;



    background-image: url('/DropTalk/img/33.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;

    position: relative;
}

#head #main{

    position: absolute;

    width: 100%;
    height: 100vh;

    z-index: 1;

    background: rgba(51, 56, 58, 0.68);

    /* flex: 1; */

    display: flex;
    flex-direction: column;
    
}

#head  #main #nav{


    width: 100%;

    padding: 10px;

    display: flex;

    background-color: #343a40;

    /* margin-top: 10px; */

    /* border-radius: 30px; */

    
}
#head  #main #nav a{

    margin-right: auto;
    margin-left: 10px;
    color: whitesmoke;
    font-size: 20px;
    font-weight: bolder;
    
}
#head  #main #nav #navbarResponsive a{


    color: whitesmoke;
    font-size: small;
    font-weight: normal;

    cursor: pointer;
    
}
#head  #main #nav #navbarResponsive a:hover{

    /* border-bottom: 2px skyblue solid !important; */
    font-weight: bolder;
    color: skyblue;

}

#head #main #logup{

    width: 30%;

    margin-top: 8%;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    justify-content: space-evenly;
}
#head #main #logup > button{

    background: transparent;
    border: 0;

    padding: 5px;

    color: skyblue;
    font-weight: bolder;
}
.active{
    border-bottom: 2px skyblue solid !important;
}
.ac{
    border-bottom: 2px skyblue solid !important;
}
.no_ac{
    border-bottom: transparent !important;
}


#head #main #painl{

    width: 40%;

    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: auto;
}



#portes{

    margin-top: 30px;

    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#portes .box{

    width: 29%;
    height: max-content;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    background-color: rgb(61, 68, 74);

    padding: 30px;
    border-radius: 10px;
}
#portes .box #ico{

    width: 80px;
    height: 80px;

    /* border-radius: 50%; */

    margin-bottom: 9px;
    margin-top: 9px;
}
#portes .box #title{

    margin-bottom: 9px;
    font-size: larger;
    color: #5396daed;


}
#portes .box #text{
    
    color: darkgrey;
}





#get{

    margin-top: 30px;

    height: 60vh;
    width: 80%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    background-color: rgb(61, 68, 74);
    border-radius: 10px;


}

#get > div{

    margin-left: auto;
    margin-right: auto;
}
#get #inot{
    
    display: flex;
    flex-direction: column;
}
#get #inot #title{

    color: #ffd626;
    font-weight: bolder;
    text-align: center;

    font-size: x-large;
}
#get #inot #ico{

    width: auto;
    height: 100px;

    /* border-radius: 50%; */

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;

}
#get #download{

    width: 50%;
    display: flex;
    justify-content: space-around;
}
#get #download > button{

    background-color: transparent;
    padding: 10px;
    font-weight: bolder;

    
}
#get #download > button:hover{

    background-color: #007bff;
    color: white;
}


#about{

    margin-top: 30px;

    height: auto;
    width: 100%;

    background-color: rgb(61, 68, 74);
}
#about #text{

    width: 50%;

    
    margin-left: auto;
    margin-right: auto;

    color: crimson;

    margin-bottom: 30px;

    font-size: x-large;
    font-weight: bolder;

    text-align: center;

    border-bottom: solid;

    padding: 10px;

}
#about .container-fluid .row .col-sm-12 .card{

    /* background: transparent; */
    position: relative;
    border-radius: 10px;

    margin-bottom: 15px;
    margin-top: 15px;

}
#about .container-fluid .row .col-sm-12:last-child{

    margin-bottom: 30px;

}
#about .container-fluid .row .col-sm-12 .card > img{

    width:100%;
    height:225px;

}
#about .container-fluid .row .col-sm-12 .card #work{

    height: 50px;
    width: 50px;
    border-radius: 50%;
    /* border: 1px solid skyblue; */
    /* background-color: skyblue; */


    display: border-box;
    position: absolute;

    left: calc( (100%) - (60px));
    /* left: 76%; */

    top: calc( (225px) - (50px)/2);
    /* top: 200px;     */

    
}
#about .container-fluid .row .col-sm-12 .card .card-title{

   text-align: center;
   color: tomato;

}
#about .container-fluid .row .col-sm-12 .card .card-text{

    text-align: center;
    color: darkgrey;
 
}
#about .container-fluid .row .col-sm-12 .card .card-footer{

    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
 
}
#about .container-fluid .row .col-sm-12 .card .card-footer>img{

    width: 20px;
    max-height: 20px;
    margin: auto;
 
}





#join{

    /* margin-top: 40px; */
    margin-left: auto;
    margin-right: auto;
    /* margin-bottom: 40px; */

    height: auto;
    /* width: 90%; */

    display: flex;
    flex-direction: column;


    background-color: #25292f; 

    padding: 10px;


}
#join #git{

    width: 250px;
    height: 120px;

    border-radius: 11rem;


    margin-left: auto;
    margin-right: auto;
    

}
#join #text{

    width: 50%;

    text-align: center;

    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;

    color: crimson;

    font-size: large;
    font-weight: bolder;
}
/* form */
#join .form{

    width: 50%;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;

    display: flex;
    flex-direction: column;

}
#join .form .form-group{

    display: flex;
    flex-direction: column;
    
}
#join .form .form-group label{

    align-self: center; 
    font-weight: bolder;
    color: black;
}
#join .form .form-group input{

    border-radius: 11rem;   
    background-color: #1e1e1e !important;
    color: #2E8fa2 !important;
}
#join .other{

    display: flex;
    justify-content: space-evenly;
}
#join .form  > .form-group .invalid-feedback > p{
    margin: 0px;
    font-weight: bolder;
}
#join .form .T > .form-group .invalid-feedback > p{
    margin: 0px;
    font-weight: bolder;
}